@import url('https://fonts.googleapis.com/css?family=Montserrat');

.about {
	padding: 5%;
	background-color: #18121E;
	font-family: 'Playfair Display', serif;
	position: relative;
}

.entry {
	color: #fff;
  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    color: #fff;
    border: 1px solid #fff;
    transition: .4s all ease-out;
    margin: 1%;
    margin-bottom: 4%;

    &:hover {
        text-decoration: none;
        color: #030303;
        background-color: #fff;
    }
}



.hover {
	visibility: visible;
}
.item__pa {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1504682153790-007c47b98407?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  	background-size: cover;
  	background-position: center;
	margin-bottom: 2%;
}

.item__le {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/35078850_380873089068573_4772715487794561024_n.jpg?_nc_cat=103&_nc_ht=scontent.fiev10-1.fna&oh=fe77776618dd7493e4a55e1e3bfa6ca3&oe=5CC2033F');
  	background-size: cover;
  	background-position: center;
	margin-bottom: 2%;
}

.item__te {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/34859370_380338089122073_894920358119866368_n.jpg?_nc_cat=100&_nc_ht=scontent.fiev10-1.fna&oh=31ab6c63dbc4b9683f90be47567fa7b5&oe=5C96DC9E');
  	background-size: cover;
  	background-position: center;
	margin-bottom: 2%;
}

.item__ma {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/33711499_375345336288015_5065053484768821248_n.jpg?_nc_cat=101&_nc_ht=scontent.fiev10-1.fna&oh=150e5eac44486d04bba0d7cc99382ce7&oe=5CD7F51D');
  	background-size: cover;
  	background-position: center;
	margin-bottom: 2%;
}


.desc {
	text-align: center;
	color: #fff;
	display: none;
}

.adres {
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	font-size: 1.75rem;
	display: none
}

.card__content {
	position: relative;
	z-index: 2;
	padding: 5%;
}



