@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
*,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Playfair Display", serif;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
::selection {
  background-color: #030303;
  color: #fff;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #18121E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 50px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -65%);
}

#preloader-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px !important;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fafafa;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.header__content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 992px) {
  .header__content .big-logo {
    max-width: 200% !important;
  }
}

.big-logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

header {
  min-height: 100vh;
  width: 100vw;
  color: #fff;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
  position: relative;
  transform-style: inherit;
}

header, header:before {
  background: 50% 50%/cover;
}

header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../media/homebg.jpg");
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.location {
  text-align: center;
  font-weight: 400;
  letter-spacing: 3px;
}

.slogan {
  text-align: center;
  letter-spacing: 1px;
}

.line {
  width: 1px;
  height: 100px;
  display: block;
  position: absolute;
  bottom: 0;
}
.line:before {
  content: "";
  width: 2px;
  height: 50%;
  top: 0;
  background-color: #fff;
  display: block;
  animation: downWipe 3s ease-in-out infinite;
}

@keyframes downWipe {
  0% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  70% {
    height: 100%;
    transform: scaleY(0.5);
    transform-origin: bottom;
  }
  100% {
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
.about {
  padding: 5%;
  background-color: #18121E;
  font-family: "Playfair Display", serif;
  position: relative;
}

.entry {
  color: #fff;
}
.entry img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.4s all ease-out;
  margin: 1%;
  margin-bottom: 4%;
}
.button:hover {
  text-decoration: none;
  color: #030303;
  background-color: #fff;
}

.hover {
  visibility: visible;
}

.item__pa {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1504682153790-007c47b98407?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1504682153790-007c47b98407?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1504682153790-007c47b98407?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  margin-bottom: 2%;
  transition: 0.25s;
}

.item__le {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/35078850_380873089068573_4772715487794561024_n.jpg?_nc_cat=103&_nc_ht=scontent.fiev10-1.fna&oh=fe77776618dd7493e4a55e1e3bfa6ca3&oe=5CC2033F");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/35078850_380873089068573_4772715487794561024_n.jpg?_nc_cat=103&_nc_ht=scontent.fiev10-1.fna&oh=fe77776618dd7493e4a55e1e3bfa6ca3&oe=5CC2033F");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/35078850_380873089068573_4772715487794561024_n.jpg?_nc_cat=103&_nc_ht=scontent.fiev10-1.fna&oh=fe77776618dd7493e4a55e1e3bfa6ca3&oe=5CC2033F");
  background-size: cover;
  background-position: center;
  margin-bottom: 2%;
}

.item__te {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/34859370_380338089122073_894920358119866368_n.jpg?_nc_cat=100&_nc_ht=scontent.fiev10-1.fna&oh=31ab6c63dbc4b9683f90be47567fa7b5&oe=5C96DC9E");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/34859370_380338089122073_894920358119866368_n.jpg?_nc_cat=100&_nc_ht=scontent.fiev10-1.fna&oh=31ab6c63dbc4b9683f90be47567fa7b5&oe=5C96DC9E");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/34859370_380338089122073_894920358119866368_n.jpg?_nc_cat=100&_nc_ht=scontent.fiev10-1.fna&oh=31ab6c63dbc4b9683f90be47567fa7b5&oe=5C96DC9E");
  background-size: cover;
  background-position: center;
  margin-bottom: 2%;
}

.item__ma {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/33711499_375345336288015_5065053484768821248_n.jpg?_nc_cat=101&_nc_ht=scontent.fiev10-1.fna&oh=150e5eac44486d04bba0d7cc99382ce7&oe=5CD7F51D");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/33711499_375345336288015_5065053484768821248_n.jpg?_nc_cat=101&_nc_ht=scontent.fiev10-1.fna&oh=150e5eac44486d04bba0d7cc99382ce7&oe=5CD7F51D");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/33711499_375345336288015_5065053484768821248_n.jpg?_nc_cat=101&_nc_ht=scontent.fiev10-1.fna&oh=150e5eac44486d04bba0d7cc99382ce7&oe=5CD7F51D");
  background-size: cover;
  background-position: center;
  margin-bottom: 2%;
}

.desc {
  text-align: center;
  color: #fff;
  display: none;
}

.adres {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.75rem;
  display: none;
}

.card__content {
  position: relative;
  z-index: 2;
  padding: 5%;
}

/*# sourceMappingURL=style.css.map */
